@charset "utf-8";

.wrapper {
  width: 1190px;
  margin: 0 auto;
}

.top {
  line-height: 35px;
  background-color: $body-bg;
  border-bottom: 1px solid #eee;
  color: $gray-dark;

  .wrapper {
    position: relative;
  }

  a:hover,
  a:active {
    color: $theme-color-dark;
  }


  .icon {
    font-size: 14px;
  }

  ul {
    li {
      float: left;
      span,
      a {
        margin-right: 7px;
      }
    }
  }

  .line {
    color: #ddd;
  }

  .nav-l {
    float: left;
  }
  .nav-r {
    position: absolute;
    right: 0;
  }

  .menu-wrapper {
    position: relative;
    z-index: 0;
    padding: 0 6px;

    &:hover {
      .menu {
        background-color: $white;
        border: 1px solid #eee;
        border-bottom: 1px solid transparent;

        a {
          color: $theme-color;
        }
      }
       .menu-list {
        display: block;
      }
    }
    .menu {
      padding: 0 6px;
      border: 1px solid transparent;

    }
    .menu-list {
      position: absolute;
      background-color: $white;
      border: 1px solid #eee;
      display:none;
      top: 36px;
      z-index: -1;

      li {
        white-space: nowrap;
        cursor: pointer;
      }

      .menu-a {
        padding: 8px 0;

        a {
          margin: 0;
          padding: 0 5px;
          white-space: nowrap;
          display: block;
          &:hover {
            color: $text-color;
            background-color: #eee;
          }
        }
      }
    }

    .region-list {
      max-height: 270px;
      overflow-y: auto;
      padding: 8px 0;

      li {
        width: 252px;
        height: 29px;
        line-height: 29px;
        padding-left: 8px;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }

  .navigation-con {
    width: 1188px;
    right: 0;
    .item {
      float: left;
      width: 25%;
      >div {
        padding: 5px;
        border-right: 1px solid #eee;

        h4 {
          margin: 5px;
          font-size: $font-size-larger;
        }

        li {
          width: 24%;
          height: 25px;
          line-height: 25px;
          //overflow: hidden;
          a {
            display: inline-block;
            position: relative;
            padding: 0 8px;
            border-radius: 2px;

            i {
              position: absolute;
              margin-top: -5px;
              margin-right: -10px;
              width: 9px;
              height: 14px;
            }
            .hot {
              background: url("../../images/icon-hot.gif");
            }
            .new {
              background: url("../../images/icon-new.gif");
            }
          }
        }
        .col-3 {
          li {
            width: 33%;
          }
        }
        .col-2 {
          li {
            width: 49%;
          }
        }
      }

      .color01 {
        h4 {
          color: $color01;
        }
        a {
          &:hover {
            color: $white;
            background-color: $color01;
          }
        }
      }
      .color02 {
         h4 {
           color: $color02;
         }
         a {
           &:hover {
             color: $white;
             background-color: $color02;
           }
         }
       }
      .color03 {
        h4 {
          color: $color03;
        }
        a {
          &:hover {
            color: $white;
            background-color: $color03;
          }
        }
      }
      .color04 {
        h4 {
          color: $color04;
        }
        a {
          &:hover {
            color: $white;
            background-color: $color04;
          }
        }
      }
    }
  }
}

header {
  background-color: $white;

  .wrapper {
    padding-top: 24px;

    .logo {
      width: 190px;
      height: 80px;
      background: url("../../images/logo.png") no-repeat center;
      background-size: 142px 58px;
      span {
        position: absolute;
        clip: rect(0, 0, 0, 0);
      }
    }

    .search-wrapper {
      width: calc(100% - 218px - 302px);
      margin: 0 auto;
      overflow: hidden;
    }
    .search-tab {
      margin-left: 17px;
      li {
        color: $theme-color;
        cursor: pointer;
        padding: 1px 6px;
        margin-right: 4px;
        @include float(left);

        &:hover {
          background-color: #FFEEE5;
        }
      }
      .active {
        border-radius: 6px 6px 0 0;
        color: $white;
        background: linear-gradient(to right, #ff9000, #ff5000);
      }
    }
    .search-panel {
      .search-box {
        border-radius: 50px 0 0 50px;
        border: 2px solid $theme-color;
        border-right: 0;
        width: 472px;
        height: 36px;

        &:focus {
          border: 2px solid $theme-color;
        }

        >div {
          padding-left: 10px;
          height: 100%;
        }

        .inputbox {
          border-radius: 50px 0 0 50px;
          border: none;
          width: calc(100% - 90px);
          height: calc(100% - 2px);
          outline: 0;
        }
        .file-wrapper {
          position: absolute;
          margin-left: 472px;
        }
      }

      .btn {
        position: absolute;
        width: 74px;
        height: 40px;
        margin-left: 474px;
        margin-top: -40px;
        border-radius: 0 50px 50px 0;
        border: none;
        background: linear-gradient(to right, #ff9000, #ff5000);
        color: $white;
        font-size: 18px;
      }
    }

    .search-hot {
      padding-top: 5px;

      .hot-world {
        height: 20px;
        overflow: hidden;

        a {
          margin-right: 8px;
        }
      }
      .more {
        position: absolute;
        margin-left: 10px;
      }
    }

    .r-wrapper {
      background-color: $white;
      border: 1px solid #eee;
      text-align: center;
      padding: 6px;

      img {
        width: 62px;
        height: auto;
      }
    }
  }
}