@charset "utf-8";

.wrapper {
  width: 1190px;
  margin: 0 auto;
}

.top {
  line-height: 35px;
  background-color: $body-bg;
  border-bottom: 1px solid $border-color;
  color: $gray-dark;

  .wrapper {
    position: relative;
    z-index: 1;
  }

  a:hover,
  a:active {
    color: $theme-color-dark;
  }


  .icon {
    font-size: 14px;
  }

  ul {
    li {
      float: left;
      span,
      a {
        margin-right: 7px;
      }
    }
  }

  .line {
    color: #ddd;
  }

  .nav-l {
    float: left;
  }
  .nav-r {
    position: absolute;
    right: 0;
  }

  .menu-wrapper {
    position: relative;
    z-index: 0;
    padding: 0 6px;

    &:hover {
      .menu {
        background-color: $white;
        border: 1px solid $border-color;
        border-bottom: 1px solid transparent;

        a {
          color: $theme-color;
        }
      }
       .menu-list {
        display: block;
      }
    }
    .menu {
      padding: 0 6px;
      border: 1px solid transparent;

    }
    .menu-list {
      position: absolute;
      background-color: $white;
      border: 1px solid $border-color;
      display:none;
      top: 36px;
      z-index: -1;

      li {
        white-space: nowrap;
        cursor: pointer;
      }

      .menu-a {
        padding: 8px 0;

        a {
          margin: 0;
          padding: 0 5px;
          white-space: nowrap;
          display: block;
          &:hover {
            color: $text-color;
            background-color: $border-color;
          }
        }
      }
    }

    .region-list {
      max-height: 270px;
      overflow-y: auto;
      padding: 8px 0;

      li {
        width: 252px;
        height: 29px;
        line-height: 29px;
        padding-left: 8px;
        &:hover {
          background-color: $border-color;
        }
      }
    }
  }

  .navigation-con {
    width: 1188px;
    right: 0;
    .item {
      float: left;
      width: 25%;
      >div {
        padding: 5px;
        border-right: 1px solid $border-color;

        h4 {
          margin: 5px;
          font-size: $font-size-larger;
        }

        li {
          width: 24%;
          height: 25px;
          line-height: 25px;
          //overflow: hidden;
          a {
            display: inline-block;
            position: relative;
            padding: 0 8px;
            border-radius: 2px;

            i {
              position: absolute;
              margin-top: -5px;
              margin-right: -10px;
              width: 9px;
              height: 14px;
            }
            .hot {
              background: url("../../images/icon-hot.gif");
            }
            .new {
              background: url("../../images/icon-new.gif");
            }
          }
        }
        .col-3 {
          li {
            width: 33%;
          }
        }
        .col-2 {
          li {
            width: 49%;
          }
        }
      }

      .color01 {
        h4 {
          color: $color01;
        }
        a {
          &:hover {
            color: $white;
            background-color: $color01;
          }
        }
      }
      .color02 {
         h4 {
           color: $color02;
         }
         a {
           &:hover {
             color: $white;
             background-color: $color02;
           }
         }
       }
      .color03 {
        h4 {
          color: $color03;
        }
        a {
          &:hover {
            color: $white;
            background-color: $color03;
          }
        }
      }
      .color04 {
        h4 {
          color: $color04;
        }
        a {
          &:hover {
            color: $white;
            background-color: $color04;
          }
        }
      }
    }
  }
}

.header {
  background-color: $white;

  .wrapper {
    padding-top: 24px;
    padding-bottom: 10px;
    position: relative;

    .logo {
      width: 190px;
      height: 80px;
      background: url("../../images/logo.png") no-repeat center;
      background-size: 142px 58px;
      span {
        position: absolute;
        clip: rect(0, 0, 0, 0);
      }
    }

    .search-wrapper {
      width: 53%;
      margin-left: 258px;
      overflow: hidden;

      .search-tab {
        margin-left: 17px;
        li {
          color: $theme-color;
          cursor: pointer;
          padding: 1px 6px;
          margin-right: 4px;
          @include float(left);

          &:hover {
            background-color: #FFEEE5;
          }
        }
        .active {
          border-radius: 6px 6px 0 0;
          color: $white;
          background: linear-gradient(to right, #ff9000, #ff5000);
        }
      }
      .search-panel {
        position: relative;
        background-color: $white;
        padding-right: 74px;

        .search-box {
          border-radius: 50px 0 0 50px;
          border: 2px solid $theme-color;
          border-right: 0;
          height: 36px;

          &:focus {
            border: 2px solid $theme-color;
          }

          .inputbox {
            border-radius: 50px 0 0 50px;
            border: none;
            padding-left: 10px;
            width: calc(100% - 70px);
            height: calc(100% - 2px);
            outline: 0;
          }

          .file-wrapper {
            position: absolute;
            right: 90px;
            top: 8px;

            .icon {
              font-size: 24px;
            }
          }
        }

        .btn {
          width: 74px;
          height: 40px;
          border-radius: 0 50px 50px 0;
          border: none;
          background-color: $theme-color;
          background: linear-gradient(to right, #ff9000, #ff5000);
          color: $white;
          font-size: 18px;
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      .search-hot {
        padding-top: 5px;

        .hot-world {
          width: 90%;
          height: 20px;
          overflow: hidden;
          white-space: nowrap;

          a {
            margin-right: 8px;
          }
        }
        .more {
          //position: absolute;
          //margin-left: 10px;
        }
      }
    }
    .ercode {
      background-color: $white;
      border: 1px solid $border-color;
      text-align: center;
      padding: 6px;
      padding-top: 0;
      position: absolute;
      right: 110px;
      top: 15px;
      :before {
        position: absolute;
        left: -14px;
        top: 0;
        content: '×';
        border: 1px solid $border-color;
        width: 12px;
        line-height: 12px;
        text-align: center;
        color: $border-color;
      }

      img {
        width: 62px;
        height: auto;
      }
    }
  }
}

.nav-block {
  background: linear-gradient(to right, #ff9000, #ff5000);
  color: $white;
  font-size: 16px;
  line-height: 30px;

  h2 {
    width: 190px;
    text-align: center;
    font-size: 16px;
    background-color: $theme-color;
  }
  li {
    float: left;
    padding: 0 4px;

    a {
      color: $white;
      font-weight: 700;
      padding: 0 5px;
    }
  }
  .nav-bd {
    font-size: 14px;
    font-weight: 700;
  }
}

.screen-outer {
  overflow: hidden;
  .main {
    margin-right: -290px;

    .nav,
    .center-wrapper,
    .right-wrapper,
    .troll-wrapper,
    .side-wrapper {
      display: table-cell;
      vertical-align: top;
    }

    .nav {
      width: 190px;
      position: relative;
      background-color: $white;
      .nav-list {
        border: 1px solid $theme-color;
        border-top: none;
        padding-top: 5px;
        padding-bottom: 3px;
        li {
          font-size: 14px;
          height: 32px;
          overflow: hidden;
          padding-left: 25px;
          padding-right: 19px;
          position: relative;
          &:hover {
            color: $theme-color;
            background-color: #ffe4dc;
            a {
               color: $theme-color;
             }
          }
          a {
            line-height: 32px;
            &:hover {
              text-decoration: underline;
            }
          }
          .icon {
            position: absolute;
            right: 8px;
            top: 10px;
            font-size: 12px;
            color: #bbb;
          }
        }
      }
      .more-wrapper {
        width: 692px;
        background-color: $white;
        position: absolute;
        left: 188px;
        top: 0;
        .more-con {
          border: 2px solid #f94a14;
          box-shadow: 2px 2px 0 #dcdadb;

          .blur-wrapper {
            width: 254px;
            float: right;
            .blur-block {
              padding: 20px;
              h5 {
                font-size: $font-size-larger;
                margin-bottom: 10px;
                text-align: center;
              }
              a {
                display: block;
                width: 97px;
                overflow: hidden;
                margin-right: 20px;
                margin-bottom: 30px;
                &:nth-of-type(even) {
                  margin-right: 0;
                }
                &:last-child {
                  margin-bottom: 0;
                }
                .img-wrapper {
                  background-color: #ededed;
                  height: 97px;
                  margin-bottom: 5px;
                }

                p {
                  height: 20px;
                  overflow: hidden;
                }
              }
            }
          }
          .list-wrapper {
            width: calc(100% - 253px);
            .list-block {
              border-right: 1px solid $border-color;
              padding: 20px;

              >div {
                margin-bottom: 40px;
              }
              >div:last-child {
                margin-bottom: 0;
              }
              .title {
                h4 {
                  width: 80%;
                  font-size: 18px;
                  margin-bottom: 10px;
                }
                a {
                  margin-top: 4px;
                }
              }
              .con {
                a {
                  margin-right: 14px;
                  margin-bottom: 5px;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
    .center-wrapper {
      .side-wrapper {
        width: 160px;
        >div {
          margin-right: 10px;
          margin-top: 10px;
        }

        .side-02 {
          h5 {
            font-size: 12px;
            font-weight: 400;
            color: #a1a1a1;
            padding-top: 6px;
          }
        }
      }
    }

  }
  .sidebar {
    float: right;
    width: 290px;
  }
}